<app-header></app-header>

<div class="bg-secondColor gap-16 lg:gap-0 h-1/2 w-full grid grid-cols-1 lg:grid-cols-3 ps-10 pr-10 pb-10 pt-5">
    <div class="col-span-1 lg:col-span-2  ms-0 lg:ms-24 ">
        <form [formGroup]="Form" (ngSubmit)="submit()" class="h-auto lg:m-5 mt-12 lg:mt-5 justify-items-center shadow-md place-items-center bg-white rounded-lg mx-auto pt-10 pb-15 " >

            <div class="font-display flex flex-col mx-auto w-full gap-7 justify-center items-center ">
              <div class="flex justify-center">
                 <img src="assets/images/checkout.svg" class="w-4/5 lg:w-3/4">
              </div>

             
                <div class="form-group w-full px-9 md:w-3/4 lg:px-0 ">
                  <label class="text-lg text-[#7F7F7F] ms-1">Full Name</label>
                  <input type="text" formControlName="name" value="Form.get('name')?.value" class=" text-lg font-abhaya rounded-lg border focus:border-gold  focus:outline-none border-solid border-[#ababab] p-4 text-textcolor w-full h-12 mt-2 " placeholder="Johnathan D. Mercer" >
                  <div class="h-2 mt-1">
                    @if(Form.get('name')?.value && !NameValid ){
                      <span class="text-sm text-left  text-red-600">
                        Name Should be more than 3 characters
                      </span>
                    }
                    @if(!Form.get('name')?.value && submitted  ){
                     <span class="text-sm text-left text-red-600">
                      Name is required!
                      </span>
                    }
                  </div>
                
                </div>

                

                <div class="form-group w-full px-9 md:w-3/4 lg:px-0  ">
                  <label   class="text-lg text-[#7F7F7F] ms-1">Email</label>
                  <input  type="email" formControlName="email" class="text-lg font-abhaya rounded-lg border border-solid focus:border-gold  focus:outline-none border-[#ababab] p-4 text-textcolor w-full h-12 mt-2 "placeholder="example@gmail.com">
                  <div class="h-2 mt-1">
                    @if(Form.get('email')?.value && !EmailValid ){
                      <span class="text-sm text-left  text-red-600">
                        Email Is Invalid
                      </span>
                    }
                    @if(!Form.get('email')?.value && submitted  ){
                     <span class="text-sm text-left text-red-600">
                      Email is required!
                      </span>
                    }
                  </div>
                </div> 

                 <div class="form-group w-full px-9 md:w-3/4 lg:px-0">
                    <label class="text-lg text-[#7F7F7F] ms-1">Address</label>
                    <input type="text"  formControlName="address" class="text-lg font-abhaya rounded-lg border border-solid focus:border-gold  focus:outline-none border-[#ababab] p-4 text-textcolor w-full h-12 mt-2 "placeholder="Alex Johnson 742 Evergreen Terrace Springfield, IL 62704 USA">
                    <div class="h-2 mt-1">
                      @if(Form.get('address')?.value && !AddressValid){
                        <span class="text-sm text-left  text-red-600">
                          Address Is Invalid
                        </span>
                      }
                      @if(!Form.get('address')?.value && submitted){
                       <span class="text-sm text-left text-red-600">
                        Address is required!
                        </span>
                      }
                    </div>
                  </div>  
        
                  <div class="form-group w-full px-9 md:w-3/4 lg:px-0">
                    <label class="text-lg text-[#7F7F7F] ms-1">Phone Number</label>
                    <input formControlName="phone" type="text" class="text-lg font-abhaya rounded-lg border border-solid focus:border-gold  focus:outline-none border-[#ababab] p-4 text-textcolor w-full h-12 mt-2 "placeholder="01036584922">
                    <div class="h-2 mt-1">
                      @if(Form.get('phone')?.value && !PhoneValid){
                        <span class="text-sm text-left  text-red-600">
                          Phone should be 11 numbers
                        </span>
                      }
                      @if(!Form.get('phone')?.value && submitted  ){
                       <span class="text-sm text-left text-red-600">
                        Phone is required!
                        </span>
                      }
                    </div>
                  </div>  
    
                <div class="grid grid-cols-2 w-full px-8 pt-7 md:w-3/4 lg:px-0 gap-4 lg:mt-4">
                  <button type="submit" class=" p-3 ps-5 pr-5 bg-mainColor w-full text-[#454545] text-xl font-semibold rounded-xl hover:bg-[#abb165] hover:text-black hover:cursor-pointer transition">
                    submit
                  </button>

                  <a  [routerLink]="['/cart']"> <button type="button" class="p-3 ps-5 pr-5 border border-[#454545] w-full text-[#454545] text-xl font-semibold rounded-xl hover:bg-[#2A2A2A] hover:text-white hover:cursor-pointer transition" >
                    Cancel
                  </button></a>
                </div>
                  
            </div>
        </form>
    </div>
    
    <div class="bg-white w-full md:col-span-1 p-4 md:p-6 mt-5 shadow-md rounded-2xl h-fit">
      <h2 class="text-xl font-bold mb-4 font-inria text-cart">Order Summary</h2>
      <div class="flex justify-between font-inria text-cart font-black">
        <span>{{ cartProducts.length }} Items </span>
      </div>
      <div class="flex justify-between mt-2 font-inria text-cart font-bold">
        <span>Total Price</span>
        <span>${{ total }}</span>
      </div>
      <div class="flex justify-between mt-2 font-inria text-cart font-bold">
        <span>Shipping</span>
        <span>$16</span>
      </div>
      <div class="border-t mt-4 pt-4 flex justify-between text-ternaryText font-inria font-extrabold">
        <span>Total (including taxes)</span>
        <span>${{ total + 16 }}</span>
      </div>
      
     
 </div>
</div>
<app-footer></app-footer> 

