<section class="bg-black mt-24 text-white min-h-[420px] w-full">
    <div class="container mx-auto px-3  py-16">
        <div class="flex flex-wrap justify-between items-start">
            <div class="w-full md:w-1/2 lg:w-1/4 text-white"> 
                <img src="assets/icons/logo.svg">
                <p  class="mt-5 font-abhaya">
                    Delivering high quality sports products
                    and equipment at competitive prices ,ensuring
                    exceptional value for customers.
                </p>
                <div class="flex flex-wrap gap-3 mt-6">
                    <a href="#"><img src="assets/icons/facebook.svg" class="w-[30px] h-[30px]"></a>
                    <a href="#"><img src="assets/icons/twitter.svg" class="w-[30px] h-[30px]"></a> 
                    <a href="#"><img src="assets/icons/insta.svg" class="w-[30px] h-[30px]"></a>
                </div> 
            </div>
            <div class="w-full md:w-1/2 lg:w-1/4 text-white"> 
                <h3 class="font-display text-2xl  text-[32px] font-medium">Sponsors</h3>
                <ul class="font-inria  font-normal text-[20px] ml-2 mt-5 space-y-1">
                    <li>Adidas</li>
                    <li>Puma</li>
                    <li>Nike</li>
                    <li>Chanel</li>
                    <li>D&G</li>
                </ul>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/4 text-white"> 
                <h3 class="font-display text-2xl  text-[32px] font-medium" >Categories</h3>
                <ul class=" font-inria ml-2 mt-5 space-y-1">
                    <li><a href="#" class="hover ">Men</a></li>
                    <li><a href="#" class="hover ">Home</a></li>
                    <li><a href="#" class="hover ">Women</a></li>
                    <li><a href="#" class="hover ">Supplements</a></li>
                    <li><a href="#" class="hover ">Equipment</a></li>
                    <li><a href="#" class="hover ">Shoes</a></li>
                </ul>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/4 text-white"> 
                <h3 class="font-display text-2xl  text-[32px] font-medium" >Contact Us</h3>
                <ul class="font-extralight text-[18px] font-inria ml-2 mt-5 ">
                    <li class="flex items-center  gap-2 flex-wrap"><img src="assets/icons/phone.svg" class="w-[30px] h-[30px]  "> (202) 552-0126</li>
                    <li class="flex items-center  gap-2 mt-5 flex-wrap"> <img src="assets/icons/email.svg" class="w-[30px] h-[30px] "> Sportify&#64;gmail.com</li>
                    <li class="flex items-center  gap-2 mt-2" ><img src="assets/icons/location.svg" class="w-[30px] h-[30px]"> Parker Rd. Allentown,Cairo 31134</li>
                </ul>
            </div>
        </div>  
    </div>
    <!-- gray line-->
    <div class="w-full border-t border-gray-300 mt-10 bg-amber-100 opacity-50"></div>
    <!-- logo footer -->
    <div class="flex justify-center items-center gap-2  pb-1 font-inria">
        &copy; <img src="assets/icons/logo.svg" class="h-20 w-20 "> 2025 All Rights Reserved.
    </div>
</section>