<div class="hidden md:block">
    <div class="text-2xl capitalize flex mt-3 justify-evenly items-center bg-white  ">
        <div class="flex  items-center    text-loginText font-[AbhayaLibreMedium] ">
        <p class="text-3xl  text-center font-ternaryText ">Sportify</p>
           <img src="assets/icons/logo_yellow.svg" alt="" class="mt-2.5">
        </div>
        <div class="bg-secondColor md:w-[50%] lg:w-[60%] relative rounded-md">
            <i class="fa-solid fa-magnifying-glass text-lg absolute left-3 top-4" ></i>
            <input placeholder=" search for productes " class="p-1.5 lg:w-[100%] focus:bg-white rounded-sm pl-10" >
        </div>
              @if(token){
                <div class="flex gap-4 items-center">
                    <a [routerLink]="['/fav']"> <i class="fa-regular fa-heart text-ternaryText"></i> </a>
                    
                    <a [routerLink]="['/cart']" class="relative">
                        <img src="assets/icons/cart.svg" class="w-[23px]">
                        <span [hidden]="cartItemCount === 0"
                            class="absolute -top-4 -right-3 bg-mainColor text-textColor text-xs px-1 py-0.5 rounded-full border border-textColor  z-[9999]">
                          {{cartItemCount}}
                        </span>
                      </a>
                    <i class="fa-regular fa-user relative text-ternaryText cursor-pointer" (click)="getProfile()"></i>
                </div>
              }
              @else {
        <div class="flex gap-2 items-center ">
            <a [routerLink]="['/login']"> <button class="bg-mainColor rounded-xl md:px-6 md:py-2   md:text-[1.2rem]   md:fontInter  cursor-pointer  text-gray-900  "> log in</button></a>
           
            <a [routerLink]="['/signup']"> <button class="bg-mainColor rounded-xl md:px-6 md:py-2   md:text-[1.2rem]  md:fontInter cursor-pointer text-gray-900  "> Sign up</button></a>
            

        </div>
              }
       
     
       
 </div>

    <div   *ngIf="ishidden" class="profile absolute top-15  right-2.5 bg-white drop-shadow-md w-80 h-70 transition-all duration-300 opacity-0 scale-95 " 
    [ngClass]="{'opacity-100 scale-100':ishidden,'opacity-0 scale-50':!ishidden}">
        <img src="assets\images\profile.svg " alt="profile_pic" class="m-auto mt-4">
        <p class="text-center mt-1 text-xl">{{fname}}</p>
        <div class="flex items-center ml-7 mt-7">
            <i class="fa-solid fa-envelope mr-2 text-xl text-mainColor"></i>
            <p class="text-l capitalize">{{email}}</p>
        </div>
        <div class="h-0.5 w-65 bg-[rgba(0,0,0,0.1)] m-auto mt-3"></div>
        <div class="flex items-center ml-7 mt-7">
            <i class="fa-solid fa-right-from-bracket mr-2 text-xl text-mainColor"></i>
            <p class="text-l cursor-pointer" (click)="logout()">Logout</p>
        </div>
    </div>


    <div class="links fontInter   md:text-xl text-[#212121] text-xl">
        <ul class="bg-mainColor h-10 flex justify-center md:gap-6 gap-2 items-center py-7 mt-5">
            <li><a [routerLink]="['/home']" routerLinkActive="router-link-active"  >home</a></li>
            <li><a [routerLink]="['/men']">men</a></li>
            <li><a [routerLink]="['/women']" >women</a></li>
            <li><a [routerLink]="['/equipment']" >Equipment</a></li>
            <li><a [routerLink]="['/shoes']" >Shoes</a></li>
            <li><a [routerLink]="['/supplements']" >Supplements</a></li>
             <li><a [routerLink]="['/allProduct']" >all Product</a></li>

            @if(isAdmin()){
            <li><a [routerLink]="['/admin']" >Admin</a></li>
            }
        </ul>
    </div>
       
</div>

   


<div class="block md:hidden fixed z-50 w-[100%] ">
    <div class="bg-mainColor flex justify-evenly items-center py-2 px-2">
        <i class="fa-solid fa-bars text-xl" (click)="toggel()"></i>
        <div class="relative w-[45%]  "> <input type="text " class="bg-white  rounded-sm pl-7 pt-1 w-[100%]  focus:outline-none " placeholder="search for product" >
            <i class="fa-solid fa-magnifying-glass text-md  absolute  left-1 top-2 font-ternaryText" ></i>
        </div>
       
        <div class="flex  items-center gap-1 ">
            <p class="text-2xl  text-center font-abhaya text-[#3F3F3F]">Sportify</p>
           <img src="assets/images/logo.svg" alt="" class=" mt-2">
        </div>
    
    </div>
</div>

<div class="bg-white fixed w-[50vw] h-[100vh] left-0- z-1000 top-10 pt-3 md:hidden " [ngClass] ='show'>
    <div class="flex justify-center items-center gap-1 ">
        <p class="text-2xl  text-center font-abhaya text-gold">Sportify</p>
       <img src="assets/icons/logo_yellow.svg" alt="" class=" mt-2">
    </div>
<ul class=" flex flex-col gap-4 p-5">
    <li class="flex gap-4 hover:bg-mainColor p-2 rounded-md hover:text-black cursor-pointer"[routerLink]="['/home']">
        <img src="assets/icons/home.svg">
        <p >home</p>
    </li>
    <li class="flex gap-5 hover:bg-mainColor p-2 rounded-md hover:text-black cursor-pointer" [routerLink]="['/men']">
        <i class="fa-solid fa-person pt-1" ></i>
        <p>men</p>
        </li>
    <li class="flex gap-4 hover:bg-mainColor p-2 rounded-md hover:text-black cursor-pointer" [routerLink]="['/women']">
    <img src="assets/icons/women.svg">
    <p>women</p>
    </li>
  
    <li class="flex gap-4 hover:bg-mainColor p-2 rounded-md hover:text-black cursor-pointer"  [routerLink]="['/equipment']">
        <img src="assets/icons/equ.svg">
        <p>Equipments</p>
    </li>
    <li class="flex gap-4 hover:bg-mainColor p-2 rounded-md hover:text-black cursor-pointer" [routerLink]="['/shoes']" > 
        <img src="assets/icons/shoes.svg">
        <p>Shoes</p>
    </li>
    <li class="flex gap-4 hover:bg-mainColor p-2 rounded-md hover:text-black cursor-pointer" [routerLink]="['/supplements']" >
        <img src="assets/icons/sup.svg">
        <p>Supplements</p>
    </li>
    @if(token){
        <li class="flex gap-4 hover:bg-mainColor p-2 rounded-md hover:text-black cursor-pointer items-center"[routerLink]="['/fav']">
            <img src="assets/icons/love.svg">
            <p>Favorite</p>
        </li>
     
      <li  class="flex gap-4 hover:bg-mainColor p-2 rounded-md hover:text-black">
       
         <a [routerLink]="['/cart']" class="relative">
            <img src="assets/icons/cart.svg" class="w-[23px]">
            <span [hidden]="cartItemCount === 0"
            class="absolute -top-4 -right-3 bg-mainColor text-textColor text-xs px-1 py-0.5 rounded-full border border-textColor  z-[9999]">
                {{cartItemCount}}
             
            </span>
          </a>
          <p>Cart</p>
     </li>
     
        <li class="flex gap-4 hover:bg-mainColor p-2 rounded-md hover:text-black items-center">
            <i class="fa-solid fa-right-from-bracket  text-xl text-secandaryText"></i>
            <p class="text-l cursor-pointer" (click)="logout()">Logout</p>
        </li>
    }
    @else{
        <li class="flex gap-2 items-center ">
            <button class="bg-mainColor rounded-xl px-6 py-2  cursor-pointer  text-gray-900  "> <a [routerLink]="['/login']">log in</a></button>
           
            <button class="bg-mainColor rounded-xl px-6 py-2  cursor-pointer text-gray-900  "> <a [routerLink]="['/signup']">Sign up</a></button>
            

        </li>
    }
    
</ul>
</div>