<div class="text-2xl capitalize flex mt-3 justify-evenly items-center">
    <h4 class="text-mainColor text-3xl" >Sportify</h4>
    <!-- <div class="bg-secondColor w-[60%] flex gap-3 items-center pl-3 rounded-md">
        <i class="fa-solid fa-magnifying-glass text-lg py-3" ></i>
        <input placeholder=" search for productes " class="p-1.5 w-[100%] focus:bg-white rounded-sm" >
    </div> -->
    <div class="bg-secondColor w-[60%] relative rounded-md">
        <i class="fa-solid fa-magnifying-glass text-lg absolute left-3 top-4" ></i>
        <input placeholder=" search for productes " class="p-1.5 w-[100%] focus:bg-white rounded-sm pl-10" >
    </div>
    <div class="flex gap-4">
        <i class="fa-regular fa-heart"></i>
        <i class="fa-regular fa-cart-shopping"></i>
        <i class="fa-regular fa-user"></i>
    </div>
</div>
<div class="links">
    <ul class="bg-mainColor h-10 flex justify-center gap-4 items-center py-7 mt-5">
        <li><a href="#">home</a></li>
        <li><a href="#">men</a></li>
        <li><a href="#">womens</a></li>
        <li><a href="#">Equipments</a></li>
        <li><a href="#">Shoes</a></li>
        <li><a href="#">Supplements</a></li>
    </ul>
</div>
<div class=" bg-[#F3F3F3] ">
    <img src="home_img.svg">

</div>