<app-header></app-header>

<div class="bg-secondColor  h-1/2 w-full grid grid-cols-3 ps-10 pr-10 pb-10 pt-5">
    <div class="col-span-2  ms-24 ">
        <form class=" h-auto m-5 justify-items-center place-items-center bg-white rounded-lg mx-auto pt-10 pb-15" >

            <div class="font-display flex flex-col mx-auto w-full gap-15 justify-center items-center ">
              <div class="flex">
                 <img src="assets/images/confirm.svg" class="w-full">
              </div>

              <p class="pr-40 pl-40 text-center text-2xl text-[#454545] font-abhaya ">Your payment has been successfully processed, and your order is now confirmed. 
                Your products will be shipped to <span class="text-gold">Akshya Nager 1St Block Cross , Rammurthy nagar </span> as scheduled.  
                If you have any questions or need assistance, please feel free to contact us
               </p>
    
                <div class="grid grid-cols-2 w-2/3 gap-4 mt-4">
                  <button class=" p-3 ps-5 pr-5 bg-mainColor w-full text-[#454545] text-xl font-semibold rounded-xl hover:bg-[#2A2A2A] hover:text-white transition">
                     Confirm
                  </button>

                  <button class=" p-3 ps-5 pr-5 border border-[#454545] w-full text-[#454545] text-xl font-semibold rounded-xl hover:bg-[#2A2A2A] hover:text-white transition">
                    Cancel
                  </button>
                </div>
                  
            </div>
        </form>
    </div>
    
  <div class="w-4/5 h-1/2 mt-5  justify-items-start ps-10 bg-white rounded-lg mx-auto pt-10 pb-15">
    <div class="flex flex-col gap-3">
      <p class="font-display text-[#454545] text-3xl font-semibold">Order Summary</p>
      <p class="font-display text-[#666666] text-xl flex gap-2"><span class="font-abhaya">5</span>Products</p>
      <p class="font-display text-[#666666] text-xl flex gap-30">Total Products <span class="font-abhaya">$1200.00</span></p>
      <p class="font-display text-[#666666] text-xl flex gap-45">Shiping <span class="font-abhaya">$16</span></p>
      <hr class="border border-[#b8b8b8] mt-2 mb-1">
      <div class="flex flex-col">
        <p class="font-display text-[#666666] text-xl flex gap-51">Total <span class="font-abhaya">$1216.00</span></p>
        <p class="font-display text-[#666666] text-sm flex gap-30">(Including Tax)</p>
      </div>
      
    </div>
     
  </div>
</div>
<app-footer></app-footer> 

