<app-header></app-header>
<div class="ms-6 m-auto md:ms-12 lg:ms-24 font-display">

    <div class="text-gray">
        Shoes Category
        <i class="fa-solid fa-angle-right m-3"></i>
        Shoes Collection
        <i class="fa-solid fa-angle-right m-3"></i>
        UrbanEdge Tee
    </div>

        <div class="grid grid-cols-1 lg:grid-cols-2 mt-4 justify-center  gap-25">
            <div class=" col-span-1 rounded-lg bg-secondColor  justify-center align-middle">
                <img src="assets/images/product_details_img.svg" class="p-15">
            </div>

            <div class="text-textcolor flex flex-col col-span-1 gap-4" >
                <div class="flex gap-2"><img src="assets/images/adidas_icon.svg" alt="">
                    <span class="pt-1 text-lg">adidas</span>
                </div>
                <p class="text:xl lg:text-3xl font-semibold text-textcolor">Shoes Reebook Zig Kingetica 3</p>

                <div class="grid gap-3  text-[22px] lg:text-[28px] text-gold">
                    <div class="flex gap-5">
                      <span class=" lg:w-32">Price</span>
                      <span class="lg:w-12">:</span>
                      <span class="font-abhaya text-textcolor">$190.00</span>
                    </div>

                    <div class="flex gap-5">
                      <span class="lg:w-32">Color</span>
                      <span class="lg:w-12">:</span>
                      <span class="font-abhaya text-textcolor">Black</span>
                    </div>
                    <div class="flex gap-5">
                      <span class="lg:w-32">Size</span>
                      <span class="lg:w-12">:</span>
                      <span class="font-abhaya text-textcolor flex gap-1 lg:gap-2">
                        <button class="border border-[#999999] rounded-full pr-3 pl-3 text-[15px] lg:text-[22px] ">41</button>
                        <button class="border border-[#999999] rounded-full pr-3 pl-3 text-[15px] lg:text-[22px] ">42</button>
                        <button class="border border-[#999999] rounded-full pr-3 pl-3 text-[15px] lg:text-[22px] ">43</button>
                        <button class="border border-[#999999] rounded-full pr-3 pl-3 text-[15px] lg:text-[22px] ">44</button>
                        <button class="border border-[#999999] rounded-full pr-3 pl-3 text-[15px] lg:text-[22px] ">45</button>
                        <button class="border border-[#999999] rounded-full pr-3 pl-3 text-[15px] lg:text-[22px] ">46</button>
                        
                      </span>
                    </div>
                    <div class="flex gap-5">
                      <span class="lg:w-32">Material</span>
                      <span class="lg:w-12">:</span>
                      <span class="font-abhaya text-textcolor">Synthetics</span>
                    </div>
                    <div class="flex gap-5">
                      <span class="lg:w-32">Quantity</span>
                      <span class="lg:w-12">:</span>
                      <span class="font-abhaya text-textcolor">
                        <div class="border border-[#999999] rounded-md pr-5 pl-5 text-xl flex gap-6 items-center">
                            <i class="fa-solid fa-plus"></i>
                            <span class="text-3xl">1</span>
                            <i class="fa-solid fa-minus"></i>
                        </div>
                      </span>
                    </div>
                  </div>
                  
                <div class="flex gap-3 mt-4">
                    <button class="bg-mainColor rounded-lg p-2 px-4 w-1/2 text-lg">add to cart</button>
                    <div class="rounded-lg border-2 border-gold w-10 h-10 flex justify-center items-center">
                        <i class="fa-regular fa-heart text-lg" ></i>
                    </div>
                </div>
          
            </div>
        </div>
</div>

<div class="mt-18 flex flex-col gap-7">
    <h1 class="ms-24 text-3xl text-gold font-display font-semibold">Description :</h1>
    <div class="bg-secondColor w-full h-auto lg:p-10">
     <p class="text-[#707070] font-abhaya lg:pl-14 lg:text-xl lg:leading-8 pr-8 ">Designed for the modern athlete, the ADIDAS IF1402 Deportivo football boots offer superior comfort and control.
        Featuring a soft synthetic upper for enhanced ball touch and a perforated tongue for breathability, these boots ensure you stay light on your feet throughout the game.
        An anatomically shaped heel provides a secure fit, helping you move swiftly and confidently on any surface
        Designed for the modern athlete, the ADIDAS IF1402 Deportivo football boots offer superior comfort and control.
        Featuring a soft synthetic upper for enhanced ball touch and a perforated tongue for breathability, these boots ensure you stay light on your feet throughout the game.
        An anatomically shaped heel provides a secure fit, helping you move swiftly and confidently on any surface
        Designed for the modern athlete, the ADIDAS IF1402 Deportivo football boots offer superior comfort and control.
        Featuring a soft synthetic upper for enhanced ball touch and a perforated tongue for breathability, these boots ensure you stay light on your feet throughout the game.
        An anatomically shaped heel provides a secure fit, helping you move swiftly and confidently on any surface.
     </p>
    </div> 
</div>

<div class="mt-12 flex flex-col gap-12">
  <h1 class="self-start ms-24 text-3xl text-gold font-display font-semibold">Reviews :</h1>
 <div class="grid grid-cols-3 gap-6 w-full max-w-6xl mx-auto">
  <app-reviewcard></app-reviewcard>
  <app-reviewcard></app-reviewcard>
  <app-reviewcard></app-reviewcard>
  <app-reviewcard></app-reviewcard>
  <app-reviewcard></app-reviewcard>
  <app-reviewcard></app-reviewcard>
  <app-reviewcard></app-reviewcard>
  <app-reviewcard></app-reviewcard>
  <app-reviewcard></app-reviewcard>
 </div>

</div>

<div class="mt-18 flex flex-col gap-7 w-full h-auto pt-10 bg-secondColor justify-center">
  <h1 class="ms-24 text-3xl text-gold font-display font-semibold">Add Your Review :</h1>
     
        <form class=" w-3/4  h-auto grid grid-cols-2 m-5 justify-items-center place-items-center bg-white rounded-lg mx-auto  ps-15 pt-10 pb-10 border border-solid border-[#ADADAD] " >
          <div class="font-display flex flex-col mx-auto w-full gap-4 justify-center ">
              <div class=" form-group">
                <label class="text-xl text-[#7F7F7F] ms-1">Name</label>
                <input type="text" class="text-lg font-abhaya rounded-lg border focus:border-gold  focus:outline-none border-solid border-[#D6D6D6] p-4 text-textcolor w-full h-12 mt-2 ">
              </div>

              <div class=" form-group">
                <label class="text-xl text-[#7F7F7F] ms-1">Email</label>
                <input type="text" class="text-lg font-abhaya rounded-lg border border-solid focus:border-gold  focus:outline-none border-[#D6D6D6] p-4 text-textcolor w-full h-12 mt-2 ">
              </div> 

              <div class=" form-group">
                <label class="text-xl text-[#7F7F7F] ms-1">Description</label>
                <textarea class="text-lg font-abhaya rounded-lg border border-solid border-[#D6D6D6] focus:border-gold  focus:outline-none p-4 text-textcolor w-full h-auto mt-2" rows="3" style="resize: none;"></textarea>
              </div>

              
                <button class="  p-3 ps-5 pr-5 bg-[#2A2A2A] w-1/3 ms-40 text-white text-xl font-semibold rounded-xl hover:bg-[#2A2A2A] transition">
                  Submit
                </button>
              
             
          </div>

          <div class="  lg:w-80 h-80 mb-9 bg-secondColor rounded-lg flex flex-col items-center justify-center font-display gap-1" >
           <p class="text-[#7F7F7F] text-xl mb-3">Your Rate</p>

              <div class="flex items-center ">
                  <input type="checkbox" id="agree" class="w-6 h-6 accent-gold">
                  <label for="agree" class="text-lg text-[#5f5e5e] ms-2"><img src="assets/images/stars.svg" alt=""></label>
              </div>

                <div class="flex items-center ">
                  <input type="checkbox" id="agree" class="w-6 h-6 accent-gold">
                  <label for="agree" class="text-lg text-[#5f5e5e] ms-2"><img src="assets/images/stars-1.svg" alt=""></label>
              </div>

                <div class="flex items-center ">
                  <input type="checkbox" id="agree" class="w-6 h-6 accent-gold">
                  <label for="agree" class="text-lg text-[#5f5e5e] ms-2"><img src="assets/images/stars-2.svg" alt=""></label>
              </div>

                <div class="flex items-center ">
                  <input type="checkbox" id="agree" class="w-6 h-6 accent-gold">
                  <label for="agree" class="text-lg text-[#5f5e5e] ms-2"><img src="assets/images/stars-3.svg" alt=""></label>
              </div>

              <div class="flex items-center ">
                <input type="checkbox" id="agree" class="w-6 h-6 accent-gold">
                <label for="agree" class="text-lg text-[#5f5e5e] ms-2"><img src="assets/images/stars-4.svg" alt=""></label>
            </div>
           
          </div>
          
      </form>
    </div>
    

<app-footer></app-footer> 