<div class="bg-white pt-5 pb-12 text-3xl mb-4 md:w-full  w-[70%] m-auto  md:mt-12">
  <div class="text-center mb-6">
    <h2 class="md:mb-2 font-display font-medium md:text-4xl text-2xl">Categories</h2>
    <p class="text-gray-500 md:text-2xl text-sm font-normal">
      Explore by category and find the perfect gear for your sport
    </p>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-11 gap-4 items-center">
    <!-- زر السهم الأيسر -->
    <i class="fa-solid fa-angle-left col-span-1 text-end cursor-pointer text-5xl md:static absolute left-6" (click)="moveLeft()"></i>
    <div *ngFor="let category of displayedCategories" class="col-span-9 sm:col-span-3 relative">
      <img [src]='category.img' class="opacity-80 w-full"/>
      <div class="absolute bottom-4 flex flex-col items-center w-full">
        <p class="text-amber-50 font-display   text-[2rem] sm:text-[3rem]">{{category.name}}</p>
        <!-- <button class="bg-mainColor rounded-md px-6 py-2 md:text-2xl text-lg mt-2 cursor-pointer">
          See Details
        </button> -->
        <button class="bg-mainColor rounded-md md:px-9 md:py-2 px-6 py-[1px] md:text-2xl text-lg  md:mt-6 mt-3 cursor-pointer  text-gray-900 ">see detalies</button>
      </div>
    </div>

   
       <i class="fa-solid fa-angle-right col-span-1 cursor-pointer text-5xl  md:static absolute right-6" (click)="moveRight()" @slideAnimation></i>
       
</div>
