<div class="bg-secondColor  rounded-xl p-5 capitalize mt-3 mb-3 ">
    <p class="text-[#3B3B3B] font-semibold text-md tex-display">tshirts</p>
    <div class="flex justify-between">
        <!-- <p class="text-[#3B3B3B] font-semibold text-2xl ">{{data.name}}</p> -->
        <p class="text-[#3B3B3B] font-semibold text-2xl ">
            {{ data.name.split(' ').slice(0,2).join(' ') }}
          </p>
          
        <p class="text-2xl font-bold text-[#3B3B3B] font-[Podkova]">$ {{data.price}}</p>
    </div>
    <div class="flex justify-center my-5 "> 
     <div class="  w-[100%] ">
        <img [src]="data.imageUrl" class="rounded-xl w-full aspect-[4/3] object-cover">
    </div>
    </div>
   
    <p class="text-loginText"> <a routerLink="/product/{{data._id}}">more detalies</a></p>
    <div class="flex justify-between">
        <div class="flex gap-1">
            <div class="   w-10 h-10   rounded-[50%] border-2 border-ternaryText flex justify-center items-center"><p> 40</p></div>
            <div class="   w-10 h-10   rounded-[50%] border-2 border-ternaryText flex justify-center items-center"><p> 40</p></div>
            <div class="   w-10 h-10   rounded-[50%] border-2 border-ternaryText flex justify-center items-center"><p> 40</p></div>
           
        </div>
       
        <div class="flex gap-1">
            <div class="relative rounded-full border-2 border-mainColor w-10 h-10 flex justify-center items-center cursor-pointer" (click)="toggleFav()">
                <i class="fa-regular fa-heart text-xl transition-all duration-700 " 
                   [ngClass]="{'opacity-0 scale-0': isFav, 'opacity-100 scale-100': !isFav}">
                </i>
                <i class="fa-solid fa-heart text-red-700 text-xl absolute transition-all duration-700 " 
                   [ngClass]="{'opacity-100 scale-100': isFav, 'opacity-0 scale-0': !isFav}">
                </i>
            </div>
            
            
             <button class="bg-mainColor rounded-xl p-2 px-4">add to cart</button>
        </div>
    </div>

</div>
