<!-- <app-header></app-header> -->
<div class="min-h-screen bg-gray-100 p-1 pb-10 mb-10">
  <div class="flex gap-2 flex-wrap justify-center mt-10 sm:mt-5">
    <button class="w-full sm:w-1/3 md:w-1/6 mt-4 bg-mainColor font-inria text-textColor py-2 rounded-md font-extrabold border-inputColor border-1"
    (click)="addProduct()">
      Add Product
    </button>
    <button class="w-full sm:w-1/3 md:w-1/6 mt-4 bg-white font-inria text-textColor py-2 rounded-md font-extrabold border-inputColor border-1"
    (click)="editProduct(products[0]?._id)">
      Edit Product
    </button>
    <button class="w-full sm:w-1/3 md:w-1/6 mt-4 bg-white font-inria text-textColor py-2 rounded-md font-extrabold border-inputColor border-1"
    (click)="deleteProduct(products[0]?._id)">
      Delete Product
    </button>
  </div>
    
    <div class="max-w-4xl min-h-[90vh]  mx-auto bg-white p-8 rounded-lg shadow-md font-inria font-light mt-10">
    
        <h1 class=" font-display text-productTitle mb-5 text-3xl font-semibold "  >Add Product:</h1>
    
      <form class="space-y-2">
        <!-- Product Name -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div class="col-span-1">
            <label class="block text-sm font-medium text-ternaryText">Product Name</label>
            <input type="text" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none " />
          </div>
          
          <!-- Product Category and Subcategory -->
          <div class="grid grid-cols-2 gap-4 col-span-1">
            <div class="relative">
              <label class="block text-sm  sm:text-sm font-medium text-ternaryText whitespace-nowrap">Product Category</label>
              <div class="relative">
                <select class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm custom-select">
                  <option value=""></option>
                  <!-- options dynamic from API -->
                </select>
                <i class="fa-solid fa-chevron-down absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-500"></i>
              </div>
            </div>
            
            <div class="relative">
              <label class="block text-sm font-medium text-ternaryText sm:text-sm">Product Subcategory</label>
              <div class="relative">
                <select class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none custom-select">
                  <option value=""></option>
                  <!-- options dynamic from API -->
                </select>
                <i class="fa-solid fa-chevron-down absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-500"></i>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Product Brand, Price, and Material -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div class="col-span-1">
            <label class="block text-sm font-medium text-ternaryText">Product Brand</label>
            <input type="text" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none " />
          </div>
  
          <!-- Product Price and Product Material -->
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 col-span-1">
            <div>
              <label class="block text-sm font-medium text-ternaryText">Product Price</label>
              <input type="text" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none " />
            </div>
            <div>
              <label class="block text-sm font-medium text-ternaryText">Product Material</label>
              <input type="text" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm " />
            </div>
          </div>
        </div>
  
        <!-- Product Size and Size Values -->
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
          <!-- Product Category (1/3) -->
          <div class="relative col-span-1">
            <label class="block text-sm font-medium text-ternaryText">Product Size</label>
            <div class="relative">
              <select class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none  custom-select">
                <option value=""></option>
                <!-- options dynamic from API -->
              </select>
              <i class="fa-solid fa-chevron-down absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-500"></i>
            </div>
          </div>
        
          <!-- Size Values (2/3) -->
          <div class="relative col-span-2">
            <label class="block text-sm font-medium text-ternaryText">Size Values</label>
            <input type="text" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none" disabled />
              </div>
        </div>
        
   <!-- دي مفروص تظهر جوا ال size values -->
        <!-- <div class="w-16 h-10 bg-mainColor text-textColor rounded-xl flex items-center justify-center p-2 gap-2" disabled>
          <span>Xl</span>
          <img src="assets/images/exit.svg" class="h-5">
        </div> -->
        
        <!-- Product Color and Color Values -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <div>
            <label class="block text-sm font-medium text-ternaryText">Product Color</label>
            <input type="text" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none " />
          </div>
          <div>
            <label class="block text-sm font-medium text-ternaryText">Color Values</label>
            <input type="text" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none "  disabled/>
          </div>
        </div>

        <div class="w-30 h-10 bg-white border-inputColor border-1 text-textColor rounded-lg flex items-center  justify-between p-3 gap-5" disabled>
         <div class="flex gap-0">
          <div class="w-6 h-6 rounded-4xl bg-red-600"> </div>
          <span>Red</span>
         </div>
          <img src="assets/images/exit.svg" class="h-5">
        </div>
        <!-- Description -->
        <div>
          <label class="block text-sm font-medium text-ternaryText">Description</label>
          <textarea class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none resize-none" rows="4"></textarea>
        </div>
  
        <!-- Submit Button -->
        <div class="flex justify-center">
          <button type="submit" class="w-1/5 flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-black  focus:outline-none focus:ring-2 focus:ring-offset-2  cursor-pointer">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- <app-footer></app-footer> -->