<div class=" m-auto w-[95]">

  

  <!-- <app-home ></app-home>  -->
   <!-- <div class="w-[80%] md:w-full m-auto"> -->
    <app-product-details></app-product-details>
   <!-- </div> -->
 
  <!-- <app-check-out></app-check-out> -->
  <!-- <app-payment-page></app-payment-page> -->
  <!-- <app-confirm-payment></app-confirm-payment> -->

 <!-- <app-reviewcard></app-reviewcard> -->
 <!-- <app-men></app-men> -->
 <!-- <app-women></app-women> -->
 <!-- <app-suplements></app-suplements> -->
 <!-- <app-signup-page></app-signup-page> -->
 <!-- <app-signin></app-signin> -->
 <!-- <app-fav></app-fav> -->
 <!-- <router-outlet></router-outlet> -->
 <!-- <app-cart></app-cart> -->
<!-- <app-admin></app-admin> -->

</div>