<div class=" m-auto w-[95]">


  <!-- <app-home ></app-home>  -->
  <!-- <app-product-details></app-product-details> -->
     <!-- <app-payment-page></app-payment-page> -->
    <!-- <app-confirm-payment></app-confirm-payment> -->
      <!-- <app-fav></app-fav> -->
         <!-- <app-cart></app-cart> -->
          <!-- <app-admin></app-admin> -->

  <!-- <app-men></app-men> -->
   <!-- <app-women></app-women> -->
   <!-- <app-suplements></app-suplements> -->

  
  <!-- <app-signup-page></app-signup-page> -->
 <!-- <app-signin></app-signin> -->


 <router-outlet></router-outlet>

  


</div>

