<button class=" p-1 px-2 text-xl mr-1 bg-transparent border-mainColor border-2 cursor-pointer"
[ngClass]="{disabled: currentPage==1}"
(click)="pageClicked(currentPage-1)" ><i class="fa-solid fa-angle-left cursor-pointer text-xl text-m" ></i></button>
<button
(click)="pageClicked(page)"
 *ngFor="let page of pages" 
class=" p-1 px-2 text-xl mr-1 bg-  bg-transparent  border-mainColor border-2 cursor-pointer" 
[ngClass]="{active: page==currentPage}">
{{page}}</button>

<!-- <button class="rounded-[25%] p-2 text-xl mr-1 bg-green-300 cursor-pointer"
[ngClass]="{disabled: currentPage==totalPages}"
(click)="pageClicked(currentPage+1)" >Next</button> -->

<button class=" p-1 px-2 text-xl mr-1 bg-transparent border-mainColor border-2 cursor-pointer"
[ngClass]="{disabled: currentPage==totalPages}"
(click)="pageClicked(currentPage+1)" ><i class="fa-solid fa-angle-right cursor-pointer text-xl text-m" ></i></button>