<!-- <p>fav works!</p> -->
<app-header class="" ></app-header>
<div class="w-full overflow-x-auto whitespace-nowrap scroll-smooth scrollbar-hide ">
<div class="mt-20 flex gap-4 mx-6 md:flex-wrap  md:w-[80%] md:m-auto  lg:flex-wrap  lg:w-[80%] lg:m-auto">
<app-product-card class=" w-[calc(100%-1rem)] md:w-[calc(50%-1rem)] lg:w-[calc(33.33%-1rem)]" [isFav]="true"></app-product-card>
<app-product-card class=" w-[calc(100%-1rem)] md:w-[calc(50%-1rem)] lg:w-[calc(33.33%-1rem)]" [isFav]="true"></app-product-card>
<app-product-card class=" w-[calc(100%-1rem)] md:w-[calc(50%-1rem)] lg:w-[calc(33.33%-1rem)]" [isFav]="true"></app-product-card>
<app-product-card class=" w-[calc(100%-1rem)] md:w-[calc(50%-1rem)] lg:w-[calc(33.33%-1rem)]" [isFav]="true"></app-product-card>
<app-product-card class=" w-[calc(100%-1rem)] md:w-[calc(50%-1rem)] lg:w-[calc(33.33%-1rem)]" [isFav]="true"></app-product-card>
<app-product-card class=" w-[calc(100%-1rem)] md:w-[calc(50%-1rem)] lg:w-[calc(33.33%-1rem)]" [isFav]="true"></app-product-card>
<app-product-card class=" w-[calc(100%-1rem)] md:w-[calc(50%-1rem)] lg:w-[calc(33.33%-1rem)]" [isFav]="true"></app-product-card> 
</div>
</div>
<app-footer></app-footer>
