/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

/* .text {
    @apply text-lg font-bold text-gray-900;
}   not work */

@theme {
    --color-mainColor: #E1EB58;
    --color-secondColor:#F3F3F3;
    --color-gray:#838181;
    --font-display:"Playfair Display"; 
    --font-abhaya:"Abhaya Libre Medium";
    --font-inria: "Inria Serif"
    
}
*{
    text-transform: capitalize;
    
}